/* 우리 프로젝트 기본 폰트  Ownglyph PDH 인데 이걸 기본적으로 디폴트 값으로 하게 한것
   만약 컴포넌트에서 다른 폰트 적용 할 때는 각자 적용하면 됨.
*/

@font-face {
  font-family: 'Ownglyph PDH';
  src: url('@/assets/fonts/Ownglyph_PDH.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 전역 기본 폰트 적용 */
html, body {
  font-family: 'Ownglyph PDH';
}

/* 모든 요소가 상속받게 */
* {
  font-family: inherit;
}
