/* 전역 css 파일 (폰트,배경 디폴트 색 등등 저장해놓는 곳)
*/

@font-face {
  font-family: 'Ownglyph PDH';
  src: url('/assets/fonts/Ownglyph_PDH.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 전역 기본 폰트 적용 */
html, body {
  font-family: 'Ownglyph PDH';
}


html, body {
  font-family: 'Ownglyph PDH';
  background-color: #FFF7E9; /* 배경색  */
  margin: 0; /* 여백 제거 (기본 브라우저 여백 방지) */
  padding: 0;
  min-height: 100vh; /* 화면 전체 채우기 */
}

/* 모든 요소가 상속받게 */
* {
  font-family: inherit;
}
